* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: 50px auto;
    /* height: 500px; */
    background-color: red;
    text-align: center;
}

.destinazione {
    width: 400px;
    height: 400px;
    background-color: black;
}

.destinazione img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}


.titolo {
    color: white;
    position: absolute;
    text-align: center;
}
